@media screen and (max-width: 470px) {
  .top__menu {
    display: none;
  }
  .wrapper {
    display: none;
  }
  .footer {
    display: none;
  }
  .mobile__menu__items {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
  }
  .mobile__serch__menu {
    margin-left: 30px;
  }
  .top__menu {
    position: relative;
    height: 100%;
    width: 0;
  }
  .top__menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
    position: absolute;
    top: 71px;
    left: 0;
    width: 100%;
    position: fixed;
    background: white;
    height: fit-content;
  }
  .top__menu ul > li {
    padding-left: 20px;
    position: relative;
  }
  .fa-chevron-right {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 25px;
    height: fit-content;
  }
  .top__menu__product__list > ul > li {
    display: none;
  }
  .top__menu__product__list > ul > a {
    position: relative;
    margin: 20px 0;
    top: 0;
  }
  .top__menu__product ul {
    width: 100%;
  }
  .top__menu__product__list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .container {
    width: 100%;
  }
  .header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
  }
  .header__icons {
    width: 70px;
    display: flex;
    justify-content: space-between;
  }
  .footer {
    position: fixed;
    z-index: 1;
    width: 100%;
    bottom: 0;
  }
  .products__item {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
  }
  .products {
    min-height: 100vh;
    flex-direction: column;
    max-height: 100vh;
  }
  .products__title {
    width: 100%;
    height: auto;
    font-size: 60px;
    text-align: center;
    margin-top: 70px;
  }
  .products__sections__rigth {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    margin-bottom: 25px;
  }
  .products__subtitle {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 15px;
  }
  .products__buttons__frame {
    width: 200px;
    height: 50px;
  }
  .products__dot {
    display: none;
  }
  .products__buttons {
    justify-content: center;
  }
  .products__sections__left {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 50%;
    padding-bottom: 40px;
  }
  .products__slider {
    display: none;
  }
  .products__titles {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .products__titles img {
    width: 164px;
    height: 212px;
  }
  .products__text__blue {
    z-index: 0;
    right: 30px;
    position: absolute;
    top: 58px;
  }
  .products__text__red {
    z-index: 0;
    right: 30px;
    position: absolute;
    top: 70px;
  }
  .products__text__red img {
    height: 161px;
  }
  .products__text__blue img {
    height: 190px;
  }
  .products__img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .products__watch {
    display: none;
  }
  .header__search {
    display: none;
  }
  .products__dot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    margin: auto;
    left: 0;
    width: 100vw;
    bottom: 25px;
    height: fit-content;
  }
  .fa-bars {
    position: relative;
  }
  .wrapper {
    width: 100vw;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);
    min-height: auto;
    align-items: flex-start;
    top: 70px;
    background: none;
  }
}
@media (min-width: 471px) and (max-width: 1240px) {
  .products__slider {
    display: flex;
  }
  .mobile__menu__items {
    display: none;
  }
  .products__dot {
    top: 0;
    right: 40px;
  }
}
@media screen and (min-width: 1241px) and (max-width: 5241px) {
  .mobile__menu__items {
    display: none;
  }
  .products__dot {
    top: 0;
    right: 40px;
  }
  .fa-chevron-right {
    display: none;
  }
}
@media all and (max-width: 460px) {
  .accordion {
    width: 100%;
  }
}
@media all and (min-width: 1200px) {
  .accordion {
    width: 30%;
  }
}
@media all and (min-width: 461px) and (max-width: 1199.98px) {
  .accordion {
    width: 70%;
  }
}

/*# sourceMappingURL=media.css.map */
