.slick-dots {
  display: none;
}

.show {
  display: block !important;
}

.show__list {
  display: flex !important;
}

.transition1s {
  transition: 1s;
  translate: 0, 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: auto;
}

.header {
  background: #FFFFFF;
  height: 70px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__icons {
  width: 112px;
  display: flex;
  justify-content: space-between;
}
.header .logo img {
  width: 102px;
  height: 20px;
}

.top__menu {
  width: 557px;
  height: 100%;
}
.top__menu a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}
.top__menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.top__menu li {
  line-height: 70px;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: 1s;
}
.top__menu li:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.top__menu__product {
  position: relative;
}

.top__menu__product__list {
  display: flex;
  position: absolute;
  z-index: 44444444;
  width: 1072px;
  height: 435px;
  top: 80px;
  left: -250px;
  background: white;
  display: none;
}

.top__menu__product__list ul {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin-top: 35px;
}

.top__menu__product--major a {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
}

.top__menu__product span {
  font-weight: 600;
}

.top__menu__product--small a {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
}

.top__menu__product--special a {
  text-transform: capitalize;
  font-size: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
}

.top__menu__product__list ul:nth-child(2) {
  width: 33%;
}

.top__menu__product ul:nth-child(3) {
  width: 33%;
}

.top__menu__product ul:nth-child(1) {
  width: 70%;
}

.top__menu__product__list ul > li {
  display: flex;
  flex-direction: column;
  margin: 6px 0;
  margin-top: 10px;
  width: fit-content;
}

.top__menu__product__list ul a {
  font-size: 12px;
}

.top__menu__product__list ul > a {
  position: absolute;
  top: -17px;
}

.products {
  min-height: 768px;
  position: relative;
  display: flex;
}
.products__item {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.products__item:nth-child(1) {
  background: #95CFD5;
}
.products__item:nth-child(2) {
  background: #C42129;
}
.products__item:nth-child(3) {
  background: #E0ADC5;
}
.products__item:nth-child(4) {
  background: #F5C7B3;
}
.products__sections__rigth {
  display: flex;
  flex-direction: column;
  height: 768px;
  width: 560px;
  justify-content: center;
  align-items: center;
  margin-left: 158px;
}
.products__info {
  color: #FFFFFF;
}
.products__title {
  width: 540px;
  height: 150px;
  color: #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 150px;
  margin-bottom: 8px;
}
.products__subtitle {
  width: 470px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 46px;
}
.products__buttons__frame {
  background: #000000;
  width: 272px;
  height: 52px;
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 14px, 92px, 14px, 92px;
}
.products__buttons__frame span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.products__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products__slider {
  width: 380px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.products__slider--items {
  width: 80px;
  height: 80px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 7px;
  margin-top: 140px;
  margin-left: 8px;
}
.products__item:nth-child(1) .products__slider--items:nth-child(1) {
  background: white;
}
.products__item:nth-child(2) .products__slider--items:nth-child(2) {
  background: white;
}
.products__item:nth-child(3) .products__slider--items:nth-child(3) {
  background: white;
}
.products__item:nth-child(4) .products__slider--items:nth-child(4) {
  background: white;
}
.products__buttons__watch {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px 0 46px;
}
.products__item:nth-child(1) .products__buttons__watch {
  background: #95CFD5;
}
.products__item:nth-child(2) .products__buttons__watch {
  background: #C42129;
}
.products__item:nth-child(3) .products__buttons__watch {
  background: #E0ADC5;
}
.products__item:nth-child(4) .products__buttons__watch {
  background: #F5C7B3;
}
.products__watch {
  width: 112px;
  height: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}
.products__sections__left {
  width: 628px;
  height: 460px;
  display: flex;
  flex-direction: row;
  position: relative;
}
.products__titles:nth-child(1) {
  position: absolute;
  z-index: 1;
}
.products__text__blue {
  position: absolute;
  width: 120px;
  height: 501px;
  right: 150px;
  z-index: 0;
}
.products__item:nth-child(1) .dot__items:nth-child(1) {
  background: white;
}
.products__item:nth-child(2) .dot__items:nth-child(2) {
  background: white;
}
.products__item:nth-child(3) .dot__items:nth-child(3) {
  background: white;
}
.products__item:nth-child(4) .dot__items:nth-child(4) {
  background: white;
}
.products__titles:nth-child(2) {
  position: absolute;
  z-index: 1;
}
.products__text__red {
  position: absolute;
  width: 120px;
  height: 501px;
  right: 161px;
  top: 81px;
  z-index: 0;
}
.products__dot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  margin: auto;
  bottom: 0;
}

@keyframes glowing {
  0% {
    background-color: #111d0d;
    box-shadow: 0 0 5px #0b2702;
  }
  50% {
    background-color: #0f100f;
    box-shadow: 0 0 20px #103804;
  }
  100% {
    background-color: #051201;
    box-shadow: 0 0 5px #0d3202;
  }
}
.products__buttons__frame {
  animation: glowing 1300ms infinite;
}

.watch__first__round {
  width: 28px;
  height: 28px;
  border: 1px solid black;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.watch__secound__round {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid white;
  border-right: 5px solid transparent;
}

.dot__items {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: none;
  margin: 8px;
}

.footer {
  background: #FFFFFF;
  height: 70px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.accordion__content {
  height: 0;
  padding: 0 !important;
  transition: 1s;
  overflow: hidden;
}

.accordion__title {
  background: rgb(53, 129, 224);
  cursor: pointer;
  position: relative;
}

.show__accordion__content {
  padding: 20px !important;
  transition: 2s;
  overflow: auto;
  box-shadow: 0px 0px 20px 4px #2f0a0a;
  height: 120px;
  overflow-y: hidden;
}

.show__accordion__color {
  background: rgb(195, 18, 110);
}

.accordion {
  width: 30%;
}

.accordion__item * {
  padding: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgba(60, 200, 206, 0.4588235294);
}

.accordion__content {
  text-align: justify;
  background: white;
  width: 90%;
  margin: auto;
  font-family: "Karla", sans-serif;
}

.accordion__icon {
  position: absolute;
  right: 20px;
  top: 5px;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}

.rotate {
  transform: rotate(90deg);
  transition: 0.5s;
}

.accordion__title .counter {
  font-size: 20px;
  font-family: "Karla", sans-serif;
}

.fa-facebook {
  font-size: 30px;
  cursor: pointer;
  color: rgb(53, 129, 224);
}

.fa-linkedin {
  font-size: 30px;
  cursor: pointer;
  color: rgb(53, 129, 224);
}

.accordion__content.social__links {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
