$dark-btn:#000000;
$bg-firstslide:#95CFD5;
$bg-secondslider:#C42129;
$bg-thirdslider: #E0ADC5;
$bg-fourthslider:#F5C7B3;
$bg-white:#FFFFFF;



.slick-dots {
   display: none;
}

.show {
   display: block !important;
}

.show__list{
display: flex !important;
}


.transition1s {
   transition: 1s;
   translate: (0, 0);
}

// body, html{
// overflow-x: hidden;
// }


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 1440px;
   margin: auto;
}

.header {
   background: $bg-white;
   height: 70px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: space-around;
   align-items: center;

   &__icons {
      width: 112px;
      display: flex;
      justify-content: space-between;
   }

   .logo img {
      width: 102px;
      height: 20px;
   }
}

@mixin menu-text {
   font: {
      family: 'Poppins';
      style: normal;
      weight: 600;
      size: 14px;
   }

   line-height: 21px;
   letter-spacing: 0.2em;
   color: #000000;
   text-decoration: none;
   text-transform: uppercase;
}

.top__menu {
   width: 557px;
   height: 100%;

   a {
      @include menu-text;

   }

   ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      height: 100%;
   }

   li {
      line-height: 70px;
      border-bottom: 3px solid rgba(0, 0, 0, 0);
      transition: 1s;

      &:hover {
         border-bottom: 3px solid rgba(0, 0, 0, 1);
      }
   }
}



// список меню

// .top__menu__product {
//    position: relative;
//    width: 500px;
//    height: auto;
//    display: flex;
//    flex-direction: column;
//    align-items: flex-start;

//    & ul {
//       position: absolute;
//       top: 0;

//    }

//    &--major {
//       position: absolute;
//       z-index: 4444;
//       width: 300px;
//    }
// }




.top__menu__product {

   position: relative;
}

.top__menu__product__list {
   display: flex;
   position: absolute;
   z-index: 44444444;
   width: 1072px;
   height: 435px;
   top: 80px;
   left: -250px;
   background: white;
   display: none;
}





.top__menu__product__list ul {
   margin: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   flex-wrap: wrap;
   position: relative;
   margin-top: 35px;
}

.top__menu__product--major a {
   text-transform: capitalize;
   font-size: 16px;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 200;
}

.top__menu__product span {
   font-weight: 600;
}

.top__menu__product--small a {
   text-transform: capitalize;
   font-size: 16px;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 200;
}
.top__menu__product--special a{
   text-transform: capitalize;
   font-size: 16px;
   font-family: "Poppins";
   font-style: normal;
   font-weight: 200;
}


.top__menu__product__list ul:nth-child(2) {
   width: 33%;
}

.top__menu__product ul:nth-child(3) {
   width: 33%;
}

.top__menu__product ul:nth-child(1) {
   width: 70%;

}

.top__menu__product__list ul>li {
   display: flex;
   flex-direction: column;
   margin: 6px 0;
   margin-top: 10px;
   width: fit-content;
}



.top__menu__product__list ul a {
   font-size: 12px;
}
.top__menu__product__list ul>a{
   position:absolute;
   top:-17px;

}







.products {
   min-height: 768px;
   position: relative;
   display: flex;

   &__item {
      display: flex !important;
      justify-content: center;
      align-items: center;
   }

   &__item:nth-child(1) {
      background: $bg-firstslide;
   }

   &__item:nth-child(2) {
      background: $bg-secondslider;

   }

   &__item:nth-child(3) {
      background: $bg-thirdslider;
   }

   &__item:nth-child(4) {
      background: $bg-fourthslider;
   }

   &__sections__rigth {
      display: flex;
      flex-direction: column;
      height: 768px;
      width: 560px;
      justify-content: center;
      align-items: center;
      margin-left: 158px;
   }

   &__info {
      color: #FFFFFF;
   }

   &__title {
      width: 540px;
      height: 150px;
      color: #FFFFFF;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 150px;
      line-height: 150px;
      margin-bottom: 8px;
   }

   &__subtitle {
      width: 470px;
      height: 48px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 46px;
   }

   &__buttons__frame {
      background: #000000;
      width: 272px;
      height: 52px;
      box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.25);
      border-radius: 6px;
      padding: 14px, 92px, 14px, 92px;
   }

   &__buttons__frame span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      text-transform: uppercase;

   }

   &__buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;

   }

   &__slider {
      width: 380px;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

   }

   &__slider--items {
      width: 80px;
      height: 80px;
      display: flex !important;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 7px;
      margin-top: 140px;
      margin-left: 8px;
   }

   &__item:nth-child(1) &__slider--items:nth-child(1) {
      background: white;
   }

   &__item:nth-child(2) &__slider--items:nth-child(2) {
      background: white;
   }

   &__item:nth-child(3) &__slider--items:nth-child(3) {
      background: white;
   }

   &__item:nth-child(4) &__slider--items:nth-child(4) {
      background: white;
   }

   &__buttons__watch {
      width: 50px;
      height: 50px;
      border: 2px solid black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px 0 46px;

   }

   &__item:nth-child(1) &__buttons__watch {
      background: $bg-firstslide;
   }

   &__item:nth-child(2) &__buttons__watch {
      background: $bg-secondslider;
   }

   &__item:nth-child(3) &__buttons__watch {
      background: $bg-thirdslider;
   }

   &__item:nth-child(4) &__buttons__watch {
      background: $bg-fourthslider;
   }

   &__watch {
      width: 112px;
      height: 24px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000000;
   }

   &__sections__left {
      width: 628px;
      height: 460px;
      display: flex;
      flex-direction: row;
      position: relative;

   }

   &__titles:nth-child(1) {
      position: absolute;
      z-index: 1;
   }

   &__text__blue {
      position: absolute;
      width: 120px;
      height: 501px;
      right: 150px;
      z-index: 0;
   }

   &__item:nth-child(1) .dot__items:nth-child(1) {
      background: white;
   }

   &__item:nth-child(2) .dot__items:nth-child(2) {
      background: white;
   }

   &__item:nth-child(3) .dot__items:nth-child(3) {
      background: white;
   }

   &__item:nth-child(4) .dot__items:nth-child(4) {
      background: white;
   }

   &__titles:nth-child(2) {
      position: absolute;
      z-index: 1;
   }

   &__text__red {
      position: absolute;
      width: 120px;
      height: 501px;
      right: 161px;
      top: 81px;
      z-index: 0;
   }

   &__dot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      margin: auto;
      // top: 0;
      bottom: 0;
      // right: 40px;
   }

}

@keyframes glowing {
   0% {
      background-color: #111d0d;
      box-shadow: 0 0 5px #0b2702;
   }

   50% {
      background-color: #0f100f;
      box-shadow: 0 0 20px #103804;
   }

   100% {
      background-color: #051201;
      box-shadow: 0 0 5px #0d3202;
   }
}

.products__buttons__frame {
   animation: glowing 1300ms infinite;
}



.watch {
   &__first__round {
      width: 28px;
      height: 28px;
      border: 1px solid black;
      border-radius: 50%;
      background: black;
      display: flex;
      justify-content: flex-end;
      align-items: center;
   }

   &__secound__round {
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 10px solid white;
      border-right: 5px solid transparent;
   }
}

.dot__items {
   width: 10px;
   height: 10px;
   border-radius: 50%;
   border: 1px solid white;
   background: none;
   margin: 8px;
}

.footer {
   background: $bg-white;
   height: 70px;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: space-around;
   align-items: center;
   @include menu-text;
}



// accordion




.accordion__content {
   height: 0;
   padding: 0 !important;
   transition: 1s;
   overflow: hidden;
}

.accordion__title {
   background: rgb(53 129 224);
   cursor: pointer;
   position: relative;
}


.show__accordion__content {
   padding: 20px!important;
   transition: 2s;
   overflow: auto;
   box-shadow: 0px 0px 20px 4px #2f0a0a;
   height: 120px;
   overflow-y: hidden;

}
.show__accordion__color{
   background: rgb(195, 18, 110);
}

.accordion {
   width: 30%

}

.accordion__item * {
   padding: 20px;
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background:#3cc8ce75;

}

.accordion__content {
   text-align: justify;
   background: white;
   width: 90%;
   margin: auto;
   font-family: 'Karla', sans-serif;

}

.accordion__icon {
   position: absolute;
   right: 20px;
   top: 5px;
   bottom: 0;
   margin: auto;
   transition: 0.5s;
}

.rotate {
   transform: rotate(90deg);
   transition: 0.5s;
}
.accordion__title .counter{
   font-size: 20px;
   font-family: 'Karla', sans-serif;
}
.fa-facebook{
   font-size: 30px;
   cursor: pointer;
   color: rgb(53 129 224);
}
.fa-linkedin{
   font-size: 30px;
   cursor: pointer;
   color: rgb(53 129 224);
}
.accordion__content.social__links {
   text-align: center;
}